{% extends 'base.html' %}

{% block main_content %}
  <a href="/currency/rate/create/">Create Rate</a>

  <table border="1" width="100%" cellpadding="5">
    <tr>
      <th>ID:</th>
      <th>Buy:</th>
      <th>Sale:</th>
      <th>Update:</th>

      </tr>
      {% for rate in objects %}
      <tr>
      <td>{{rate.id}}</td>
      <td>{{rate.buy}}</td>
      <td>{{rate.sale}}</td>
      <td><a href="/currency/rate/update/{{rate.id}}/">Edit</a></td>
      </tr>
      {% endfor %}
   </table>

{% endblock main_content %}